.header-wrap .header_heading::after, .section_text::after, .section_banner .section_banner_text_wrap .section_banner_heading::after {
  content: "";
  position: absolute;
  background-color: #FF4D33;
  z-index: -1; }

body {
  background: #2A2F3D;
  margin: 0; }

.landing-logo p {
  font-size: 25px;
  font-weight: 600;
  font-family: "Fresca", sans-serif;
  line-height: 22px;
  white-space: pre;
  text-align: center;
  height: inherit;
  padding-left: 10px; }
  .landing-logo p span {
    font-size: 10px;
    display: block; }
.landing-logo img,
.landing-logo p {
  display: inline-block;
  vertical-align: middle; }

header .landing-logo p {
  color: #FBFEFD; }

footer .landing-logo p {
  color: #CDCDCC; }

button {
  background-color: #E3AC00;
  border: none;
  border-radius: 4px;
  font-family: 'Hind', sans-serif;
  font-weight: 600;
  color: white;
  padding: 10px 38px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px; }

button:focus {
  outline: none; }

header {
  background: url("../img/m-h-night.jpg") no-repeat scroll 100% 40%;
  background-size: 100%;
  border-radius: 0 0 32em/15em 0;
  padding-bottom: 210px; }

.header-wrap {
  color: #FFFFFF;
  margin-left: 190px;
  margin-right: 190px;
  max-width: 500px; }
  .header-wrap p {
    margin: 20px 0; }
  .header-wrap .login {
    color: white;
    margin-left: 100px; }
  .header-wrap .login:hover,
  .header-wrap .login:active {
    color: lightgray; }
  .header-wrap .header_heading {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 65px;
    font-weight: 900;
    line-height: 65px;
    max-width: 50%;
    position: relative;
    z-index: 1; }
  .header-wrap .header_heading::after {
    display: block;
    width: 270px;
    height: 50px;
    position: absolute;
    bottom: 0;
    left: 0; }
  .header-wrap .header_text {
    font-family: "Fresca", sans-serif;
    line-height: 23px;
    white-space: pre-line;
    margin: 50px 0; }

main {
  margin: 0 auto;
  width: 1100px; }

.section_text {
  font-family: 'Source Sans Pro', sans-serif;
  color: #FFFFFF;
  font-size: 38px;
  font-weight: 600;
  text-align: center;
  position: relative;
  z-index: 1; }

.section_text::after {
  display: block;
  width: 130px;
  height: 40px;
  bottom: 11%;
  right: 34%;
  padding-left: 40px; }

.section_card_wrap {
  display: flex;
  flex-direction: column;
  margin-bottom: 150px; }
  .section_card_wrap .section_card {
    display: flex;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    background-color: #3B3F50;
    border-radius: 4px;
    padding: 12px;
    margin: 9px auto;
    text-align: center;
    max-width: 70%; }
    .section_card_wrap .section_card .section_card_heading {
      margin: 14px 0;
      position: relative; }
    .section_card_wrap .section_card .section_card_img {
      border-radius: 4px;
      height: 100%;
      width: 60%; }
    .section_card_wrap .section_card .section_card_heading {
      font-family: 'Source Sans Pro', sans-serif;
      color: #fff;
      font-size: 22px;
      font-weight: 600;
      position: relative;
      padding-bottom: 20px; }
    .section_card_wrap .section_card .section_link {
      color: lightgray; }
    .section_card_wrap .section_card .section_link:hover,
    .section_card_wrap .section_card .section_link:active {
      color: darkgray; }
    .section_card_wrap .section_card .section_card_right_container {
      width: 70%;
      padding: 20px 40px; }
    .section_card_wrap .section_card .section_card_text {
      padding-bottom: 10px; }

.section_banner {
  display: flex;
  flex-direction: row;
  margin: 20px;
  padding: 12px 110px;
  background: linear-gradient(to right, #dda305 0%, #9b394a 100%);
  border-radius: 4px;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  width: 600px;
  right: 32%;
  transform: translate(10%, -60%);
  z-index: 1; }
  .section_banner .section_banner_text_wrap {
    padding-bottom: 20px; }
    .section_banner .section_banner_text_wrap .section_banner_heading {
      font-family: 'Source Sans Pro', sans-serif;
      color: #FFFFFF;
      font-size: 28px;
      font-weight: 800;
      line-height: 18px;
      position: relative; }
    .section_banner .section_banner_text_wrap .section_banner_heading::after {
      display: block;
      width: 60px;
      height: 40px;
      position: absolute;
      bottom: 10%;
      left: 30%; }
    .section_banner .section_banner_text_wrap .section_banner_text_wrap {
      padding: 15px 80px; }

.footer-cr,
.footer_text,
.section_banner_text,
.section_card_text {
  font-family: "Fresca", sans-serif;
  color: #B0B4BA;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-align: left; }

footer {
  margin-top: 60px;
  background-color: #3B3F50; }

.footer-wrap {
  display: flex;
  flex-direction: row;
  padding-top: 120px;
  padding-bottom: 50px;
  margin: 0 190px;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center; }
  .footer-wrap .footer_text {
    max-width: 300px; }
