$headerImagePath: "../img/m-h-night.jpg";
$headerTextFont: 'Fresca',
sans-serif;
$sectionTextFont: 'Fresca',
sans-serif;
$gradient: linear-gradient(to right, #dda305 0%, #9b394a 100%);
$colors: ( contentBackground: #2A2F3D, headerFontColor: #FFFFFF, underLine: #FF4D33, buttonBackground: #E3AC00, cardBackground: #3B3F50, headerLogoColor: #FBFEFD, footerLogoColor: #CDCDCC);