$headerImagePath: "../img/m-h-day.jpg";
$headerTextFont: 'Source Sans Pro',
sans-serif;
$sectionTextFont: 'Source Sans Pro',
sans-serif;
$gradient: linear-gradient(to right, #659609 0%, #315ecc 100%);
$colors: ( contentBackground: #FFF, headerFontColor: #2C2F3C, underLine: #189EC4, buttonBackground: #689900, cardBackground: #21232E, headerLogoColor: #33343E, footerLogoColor: #B4BDCC);